.tag-component {
  display: flex;
  flex: 0 0 auto;
  gap: var(--space-1);
  align-items: center;
  justify-content: center;

  padding-block: var(--space-1);
  padding-inline: var(--space-1);

  font-size: var(--level-2);
  font-weight: bold;

  background-color: var(--background-color-3);
  border: var(--border);
  border-radius: var(--border-radius);
}
