@layer components {
  @scope (.text-field) {
    & {
      display: flex;
      flex-flow: column;
      gap: var(--space-2);

      inline-size: 100%;

      color: var(--text-color-3);
    }

    .label {
      display: block;
      font-size: var(--level-3);
      font-weight: var(--font-weight-bold);
    }

    .default-input,
    .large-input {
      padding: var(--space-2);

      font-size: var(--level-3);
      line-height: calc(var(--level-3) * 1.5);
      color: var(--text-color-3);

      appearance: none;
      background-color: var(--background-color-1);
      border: var(--default-border);
      border-radius: var(--border-radius);
      outline: none;

      &::placeholder {
        color: var(--text-color-1);
      }

      &[data-focused] {
        border: var(--border-width-1) solid var(--blue-color);
        box-shadow: 0 0 0 var(--border-width-1) var(--blue-color);
      }

      &[data-hovered] {
        border-color: var(--border-color-2);
      }
    }

    .large-input {
      resize: none;
      block-size: 5rem;
    }

    .description {
      font-size: var(--level-2);
      color: var(--text-color-2);
    }

    .error-message {
      font-size: var(--level-2);
      color: var(--error-color);
    }

    &[data-invalid] {
      .label {
        color: var(--error-color);
      }

      .default-input,
      .large-input {
        border-color: var(--error-color);
      }
    }

    &[data-disabled] {
      .default-input,
      .large-input {
        color: var(--text-color-2);
        background-color: var(--background-color-2);
        border-color: var(--border-color-1);
      }
    }
  }
}
