{
  "extends": ["stylelint-config-standard", "stylelint-config-clean-order"],
  "plugins": ["stylelint-plugin-logical-css", "@isnotdefined/stylelint-plugin"],
  "rules": {
    "@isnotdefined/no-disable": null,
    "@isnotdefined/no-obsolete": true,
    "@isnotdefined/unit-step": null,

    "plugin/use-logical-properties-and-values": [true, { "severity": "warning" }],
    "plugin/use-logical-units": [true, { "severity": "warning" }],

    "custom-property-empty-line-before": null,
    "selector-pseudo-class-no-unknown": true,

    "no-empty-source": null
  },
  "reportNeedlessDisables": true
}
