/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */

.react-aria-DatePicker {
  --text-color-invalid: red;

  &[data-invalid] {
    .react-aria-Label {
      color: var(--text-color-invalid);
    }

    .react-aria-DateInput {
      border-color: var(--text-color-invalid);
    }
  }

  .react-aria-Group {
    display: flex;
    align-items: center;
    inline-size: fit-content;
  }

  .react-aria-Button {
    box-sizing: content-box;
    inline-size: 1.429rem;
    block-size: 1.429rem;
    margin-inline-start: -1.929rem;
    padding: 0;

    font-size: 0.857rem;
    color: var(--text-color);
    vertical-align: middle;

    appearance: none;
    background: var(--field-background);
    border: none;
    border: 2px solid var(--page-background);
    border-radius: 6px;
    outline: none;

    &[data-focus-visible] {
      box-shadow: 0 0 0 2px slateblue;
    }
  }

  [slot='description'] {
    font-size: 12px;
  }

  [slot='errorMessage'] {
    font-size: 12px;
    color: var(--text-color-invalid);
  }
}

.react-aria-DateInput {
  --field-border: rgb(83 83 83);
  --field-background: white;
  --text-color: black;
  --text-color-placeholder: gray;
  --text-color-invalid: red;
  --highlight-background: slateblue;
  --highlight-foreground: white;
  --highlight-background-invalid: red;

  display: flex;

  inline-size: fit-content;
  min-inline-size: 150px;
  padding: 4px 2.5rem 4px 8px;

  white-space: nowrap;

  background: var(--field-background);
  border: 1px solid var(--field-border);
  border-radius: 6px;

  &[data-focus-within] {
    border-color: var(--highlight-background);
    box-shadow: 0 0 0 1px var(--highlight-background);
  }
}

.react-aria-DateSegment {
  padding: 0 2px;
  font-variant-numeric: tabular-nums;
  color: var(--text-color);
  text-align: end;

  &[data-type='literal'] {
    padding: 0;
  }

  &[data-placeholder] {
    font-style: italic;
    color: var(--text-color-placeholder);
  }

  &:focus {
    color: var(--highlight-foreground);

    background: var(--highlight-background);
    border-radius: 4px;
    outline: none;
    caret-color: transparent;
  }

  &[data-invalid] {
    color: var(--text-color-invalid);

    &:focus {
      color: var(--highlight-foreground);
      background: var(--highlight-background-invalid);
    }
  }
}

.react-aria-Calendar {
  --highlight-background: slateblue;
  --highlight-foreground: white;
  --button-background: white;
  --button-background-pressed: gray;
  --button-border: none;
  --text-color: black;
  --text-color-disabled: gray;
  --text-color-invalid: red;
  --pressed-color: blue;
  --unavailable-color: red;
  --invalid-color: red;

  inline-size: fit-content;
  color: var(--text-color);

  & header {
    display: flex;
    align-items: center;
    margin: 0 4px 0.5rem;

    .react-aria-Heading {
      flex: 1;
      margin: 0;
      font-size: 1rem;
      text-align: center;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .react-aria-Button {
      inline-size: 2rem;
      block-size: 2rem;
      margin: 0;
      padding: 0;

      font-size: 1rem;
      color: var(--text-color);
      text-align: center;
      vertical-align: middle;

      appearance: none;
      background: var(--button-background);
      border: 1px solid var(--button-border);
      border-radius: 4px;
      outline: none;

      &[data-focus-visible] {
        border-color: var(--highlight-background);
        box-shadow: 0 0 0 1px var(--highlight-background);
      }

      &[data-pressed] {
        background: var(--button-background-pressed);
      }
    }
  }

  .react-aria-CalendarCell {
    cursor: default;

    inline-size: 2rem;
    margin: -1px;

    line-height: 2rem;
    text-align: center;

    border: 2px solid var(--page-background);
    border-radius: 6px;
    outline: none;

    &[data-outside-month] {
      display: none;
    }

    &[data-pressed] {
      background: var(--pressed-color);
    }

    &[data-focus-visible] {
      box-shadow: 0 0 0 2px var(--highlight-background);
    }

    &[data-selected] {
      color: var(--highlight-foreground);
      background: var(--highlight-background);
    }

    &[data-disabled] {
      color: var(--text-color-disabled);
    }

    &[data-unavailable] {
      color: var(--unavailable-color);
      text-decoration: line-through;
    }

    &[data-invalid] {
      color: var(--highlight-foreground);
      background: var(--invalid-color);
    }
  }

  [slot='errorMessage'] {
    font-size: 12px;
    color: var(--text-color-invalid);
  }
}

.CalendarPopover {
  overflow: auto;

  padding: 1.25rem;

  background: white;
  border: 1px solid gray;
  border-radius: 6px;
  box-shadow: 0 8px 20px rgba(0 0 0 / 10%);

  &[data-placement='top'] {
    --origin: translateY(8px);
  }

  &[data-placement='bottom'] {
    --origin: translateY(-8px);
  }

  &[data-entering] {
    animation: slide 200ms;
  }

  &[data-exiting] {
    animation: slide 200ms reverse ease-in;
  }
}

@keyframes slide {
  from {
    transform: var(--origin);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
