.list-of-jobs-section-component {
  container: list-of-jobs / inline-size;
  display: flex;
  flex-direction: column;
  gap: var(--space-5);
  align-items: center;
  justify-content: center;

  padding-block: var(--space-5);
  padding-inline: var(--space-3);

  > .jobs {
    display: flex;
    gap: var(--space-5);
    align-items: stretch;
    justify-content: center;

    > .card {
      display: flex;
      flex-direction: column;

      inline-size: 100%;
      max-inline-size: 24rem;
      block-size: 100%;
      padding: var(--space-4);

      background-color: var(--background-color-2);
      border: var(--border);
      border-radius: var(--border-radius);

      > .avatar {
        margin-block-end: var(--space-4);
      }

      > .overline {
        margin-block-end: var(--space-1);
        font-size: var(--level-2);
        color: var(--inverted-text-color-1);
      }

      > .title {
        margin-block-end: var(--space-3);
        font-size: var(--level-5);
        font-weight: bold;
      }

      > .tags {
        overflow: auto;
        display: flex;
        gap: var(--level-1);
        margin-block-end: var(--space-4);
      }

      > .description {
        margin-block-end: var(--space-4);
        font-size: var(--level-4);
      }

      > .actions {
        display: flex;
        gap: var(--level-2);
        align-items: center;
        justify-content: flex-start;
      }
    }

    @container list-of-jobs (inline-size <= 48rem) {
      flex-direction: column;
      align-items: center;
    }
  }
}
