.clients-section-component {
  display: flex;
  flex-direction: column;

  inline-size: 100%;
  padding-block: var(--space-6);
  padding-inline: var(--space-4);

  background-color: var(--level-color-6);

  > .title {
    margin-block-end: var(--space-5);

    font-size: var(--level-6);
    font-weight: var(--font-weight-bold);
    color: var(--inverted-text-color-1);
    text-align: center;
  }

  > .clients {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-3);
    justify-content: center;

    > .client {
      display: flex;
      flex: 0 0 auto;
      padding: var(--space-2);

      > .image-container {
        position: relative;
        aspect-ratio: 16/9;
        block-size: 4rem;

        > .image {
          object-fit: contain;
        }
      }
    }
  }
}
