/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-class-pattern */

@layer components {
  @scope (.uppy-dashboard) {
    .uppy-dashboard.loading {
      .uppy-Dashboard-Item-actionWrapper {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: rgb(0 0 0 / 40%);

        &::before {
          content: '';

          position: absolute;

          display: block;

          box-sizing: border-box;
          inline-size: 2rem;
          block-size: 2rem;

          border: 0.25rem solid var(--level-color-3);
          border-block-end-color: transparent;
          border-radius: 50%;

          animation: rotation 1s linear infinite;
        }
      }
    }

    .uppy-dashboard:has(> .uppy-Root) {
      user-select: none;

      display: flex;
      align-items: center;
      justify-content: center;

      block-size: 16rem;
      padding: var(--space-2);

      background-color: var(--background-color-2);
      border: var(--default-border);
      border-radius: var(--border-radius);

      .uppy-Root {
        flex: 1;
        block-size: 100%;
        border: var(--border-width-1) dashed var(--border-color-1);
        border-radius: calc(var(--border-radius) - var(--space-1));

        .uppy-DashboardContent-bar {
          display: none;
        }

        .uppy-Dashboard-dropFilesHereHint {
          display: none;
        }

        .uppy-Dashboard,
        .uppy-Dashboard-inner,
        .uppy-Dashboard-innerWrap {
          flex: 1;
          block-size: 100%;

          .uppy-Dashboard-AddFiles {
            position: relative;

            display: flex;
            flex: 1;
            flex-flow: column;
            align-items: center;
            justify-content: center;

            block-size: 100%;

            .uppy-Dashboard-AddFiles-title {
              font-size: var(--level-4);

              .uppy-Dashboard-browse {
                cursor: pointer;

                margin: 0;
                padding: 0;

                font-size: var(--level-4);
                color: var(--accent-color-1);

                appearance: none;
                background-color: transparent;
                border: none;

                transition: color 0.2s ease-in-out;

                &:hover {
                  color: var(--accent-color-2);
                }
              }
            }

            .uppy-Dashboard-AddFiles-info {
              position: absolute;
              inset-block-end: var(--space-3);
              inset-inline: 0;

              display: flex;
              justify-content: center;

              .uppy-Dashboard-note {
                font-size: var(--level-3);
                font-weight: var(--font-weight-light);
                color: var(--text-color-1);
              }
            }
          }

          .uppy-Dashboard-files {
            display: flex;
            flex: 1;
            block-size: 100%;
            padding: var(--space-2);

            .uppy-Dashboard-Item {
              position: relative;

              overflow: hidden;
              display: flex;
              flex-flow: column;
              flex-shrink: 0;
              gap: var(--space-2);

              block-size: 100%;

              border-radius: var(--border-radius);

              .uppy-Dashboard-Item-preview {
                position: relative;

                overflow: hidden;
                display: flex;
                flex-shrink: 0;

                inline-size: 10rem;
                block-size: 10rem;

                border-radius: var(--border-radius);

                .uppy-Dashboard-Item-previewInnerWrap {
                  position: absolute;
                  inset: 0;
                  background-color: var(--level-color-4) !important;

                  .uppy-Dashboard-Item-previewImg {
                    inline-size: 10rem;
                    block-size: 10rem;
                    object-fit: cover;
                  }

                  &:not(:has(.uppy-Dashboard-Item-previewImg)) {
                    &::before {
                      content: 'Vista previa no disponible';

                      display: flex;
                      align-items: center;
                      justify-content: center;

                      inline-size: 100%;
                      block-size: 100%;

                      font-size: var(--level-3);
                      color: var(--text-color-2);
                      text-align: center;
                    }
                  }

                  .uppy-Dashboard-Item-previewIconWrap {
                    display: none;
                  }
                }
              }

              .uppy-Dashboard-Item-fileInfo {
                display: flex;
                flex-flow: column;
                justify-content: space-between;

                inline-size: 10rem;
                padding: var(--space-1);

                .uppy-Dashboard-Item-name {
                  overflow: hidden;

                  inline-size: 100%;

                  font-size: var(--level-3);
                  font-weight: var(--font-weight-bold);
                  color: var(--text-color-2);
                  text-overflow: ellipsis;
                  white-space: nowrap;
                }

                .uppy-Dashboard-Item-statusSize {
                  font-size: var(--level-2);
                  font-weight: var(--font-weight-light);
                  color: var(--text-color-1);
                }
              }

              .uppy-Dashboard-Item-actionWrapper {
                position: absolute;
                inset-block-start: 0;
                inset-inline-start: 0;

                inline-size: 10rem;
                block-size: 10rem;

                border-radius: var(--border-radius);

                transition: all 0.2s ease-in-out;

                .uppy-Dashboard-Item-action--remove {
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  inline-size: 100%;
                  block-size: 100%;
                  padding: 0;

                  appearance: none;
                  opacity: 0;
                  background-color: transparent;
                  border: none;

                  > svg {
                    inline-size: 1.5rem;
                    block-size: 1.5rem;
                    fill: var(--level-color-7);
                  }
                }

                &:hover {
                  cursor: pointer;
                  background-color: rgb(0 0 0 / 50%);

                  .uppy-Dashboard-Item-action--remove {
                    opacity: 1;
                  }
                }
              }
            }
          }
        }
      }
    }

    .uppy-dashboard.disabled {
      cursor: not-allowed;
      background-color: var(--background-color-3);

      .uppy-Dashboard-AddFiles-title {
        color: var(--text-color-1);

        .uppy-Dashboard-browse {
          color: var(--text-color-1) !important;

          &:hover {
            cursor: not-allowed;
            color: var(--text-color-1);
          }
        }
      }
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
