.hero-section-component {
  position: relative;

  container: hero / size;
  overflow: hidden;
  display: flex;
  align-items: center;

  inline-size: 100%;
  block-size: 40rem;
  padding-block: var(--space-3);
  padding-inline: var(--space-4);

  background-image: var(--background-image);
  background-position: center;
  background-size: cover;

  &::before {
    content: '';

    position: absolute;
    z-index: -1;
    inset: 0;

    opacity: 0.5;
    background-color: var(--level-color-7);
  }

  > .caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    inline-size: clamp(40rem, 55cqi, 50%);
    padding: var(--space-3);

    &::before {
      content: '';

      position: absolute;
      z-index: -1;
      inset: 50% 0 0;

      opacity: 0.75;
      background-color: var(--accent-color-2);
      border-radius: var(--border-radius);
    }

    > .overline {
      display: block;

      inline-size: 100%;
      margin: 0;
      margin-block-end: var(--space-3);

      font-size: var(--level-3);
      font-weight: 400;
      color: var(--inverted-text-color-2);
    }

    > .title {
      inline-size: 100%;
      margin: 0;
      margin-block-end: var(--space-3);

      font-size: var(--level-7);
      font-weight: var(--font-weight-bold);
      color: var(--inverted-text-color-1);
      text-wrap: balance;
    }

    > .description {
      margin: 0;

      font-size: var(--level-4);
      font-weight: 400;
      color: var(--inverted-text-color-2);
      text-wrap: balance;
    }

    > .button {
      margin-block-start: var(--space-5);
    }

    &.horizontal::before {
      transform: skew(-10deg, -3deg);
      translate: -25% -50%;
      inline-size: clamp(60rem, 100cqi, 70%);
      block-size: clamp(25rem, 30cqi, 80%);
    }

    &.vertical::before {
      transform: skew(-10deg, -10deg);
      translate: 0% -65%;
      inline-size: clamp(30rem, 70cqi, 80%);
      block-size: clamp(40rem, 70cqi, 80%);

      > .overline,
      > .title {
        margin-block-end: var(--space-4);
      }
    }

    @container hero (inline-size <= 48rem) {
      padding: 0;
      text-align: center;

      > .button {
        inline-size: 100%;
        max-inline-size: 20rem;
        margin-inline: auto;
      }

      &.horizontal::before {
        inline-size: 150%;
      }

      &.vertical::before {
        translate: 0% -65%;
        inline-size: 150%;
      }
    }
  }
}
