@layer components {
  @scope (.spinner) {
    & {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;

      inline-size: 100%;
      block-size: 100%;
      padding: 0.5rem;
    }

    > .loader {
      display: block;

      box-sizing: border-box;
      inline-size: 2rem;
      block-size: 2rem;

      border: 0.25rem solid var(--text-color-3);
      border-block-end-color: transparent;
      border-radius: 50%;

      animation: rotation 1s linear infinite;
    }

    > .label {
      font-size: var(--level-2);
      font-weight: var(--font-weight-regular);
      color: var(--text-color-3);
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
