.more-info-contact-component {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-inline-size: 24rem;
  padding: var(--space-5);

  color: var(--inverted-text-color-1);
  text-align: center;

  border: var(--border);
  border-radius: var(--border-radius);

  > .title {
    margin-block-end: var(--space-3);
    font-size: var(--level-5);
    font-weight: var(--font-weight-bold);
  }

  > .subtitle {
    margin-block-end: var(--space-3);
    font-size: var(--level-4);
    font-weight: var(--font-weight-regular);
  }

  > .phone,
  > .email {
    margin-block-end: var(--space-1);
    font-size: var(--level-3);
    font-weight: var(--font-weight-regular);
  }

  @container (inline-size <= 48rem) {
    inline-size: 100%;
    min-inline-size: 100%;
  }
}
